* {
    box-sizing: border-box;
}

.wrapper {
    width: 400px;
    margin: 0, auto;
    
}
.newgame {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 20px;

}
.highScores {
    color: black;
    padding: 10px;
    margin: 10px auto;
    width: 300px;
}
#getHighScores:hover {
    color: purple;
}
#getHighScores {
    background-color: black;
    padding: 10px 20px;
    width: 100px;
    color: white;
    text-align: center;
    margin: 10px auto;
}

.score-div {
    width: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 10px auto;
    justify-content: space-between;
    background-color: black;
    color:white;
    padding: 0;
    
}
h4 {
    font-size: 20px;
    padding: 0 10px;
    margin: 0;
}
p {
    margin: 0;
}

#submit-btn {
    border: none;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    font-family: serif;
    font-size: 15px;
}

#submit-btn:hover{
    background-color: purple;
}
.game-div {
    display: flex;
    width: 400px;
    margin: 0 auto;
    justify-content:space-between;
    align-items: center;
    background-color: black;
    padding: 0px 5px;
    border: solid black;
}
.newgame:hover {
    background-color: purple;
}

a {
    color: black;
}
#boardDiv {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center; 
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px; 
    border: solid  #2e2b23 3px;
}

.col {
    border: solid  #2e2b23 3px;
}
h1 {
    text-align: center;
    padding-top: 30px;
}
.tile {
    background-color:#756e59;
    width: 100px;
    height: 100px;
    border: solid #2e2b23 3px;
    border-radius: 5px;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
}

.tile-2 {
    
    background-color: white;

}

.tile-4 {
    background-color: rgb(141, 133, 133);
}

.tile-8 {
    background-color: #ab8fb4;
}

.tile-16{
    background-color: #724381;
}
.tile-32 {
    background-color: #50295e;
    color: white;
}
.tile-64 {
    background-color: #391646;
    color: white;
}
.tile-128 {
    background-color: #2a0b35;
    color: white;
}
.tile-256 {
    background-color: #22052c;
    color: white;
}
.tile-512 {
    background-color: #14021a;
    color: white;
}
.tile-1024 {
    background-color:  rgb(132, 0, 255);
}
.tile-2048{
    background-color: rgb(255, 0, 255);
}
